<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment_4.Properties.Settings.ExpenseTrackerConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=ExpenseTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>